<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--1.导入Spring坐标spring-context。对应版本是5.2.21.RELEASE-->
    <!-- 2.配置bean-->
    <!--bean标签表示配置bean
    id属性表示给bean取名字
    class属性表示给bean定义类型-->
    <bean id="bookDao" class="com.xgrt.dao.impl.BookDaoImpl">
        <property name="databaseName" value="xgrtdb"/>
        <property name="connectionNum" value="100"/>
     </bean>
    <bean id="userDao" class="com.xgrt.dao.impl.UserDaoImpl"/>
    <bean id="bookService" class="com.xgrt.service.impl.BookServiceImpl">
        <!--7.配置Server与dao的关系-->
        <!--property标签表示配置当前bean的属性
        name属性表示配置哪一个具体的属性
        ref标签表示参照哪一个bean-->
        <property name="bookDao" ref="bookDao"/>
        <property name="userDao" ref="userDao"/>
    </bean>
</beans>